.benefits {
    min-height: 470px;
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__content {
        max-width: 235px;
        text-align: center;
    }
    &__subheader {
        margin-top: 38px;
        line-height: 17px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__descr {
        margin-top: 26px;
        line-height: 16px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        span {
            color: #ff0000;
            text-decoration: underline;
        }
    }
    .heart-icon_animated {
        animation: heartbeat 1.5s ease infinite;
        // animation-name: heartbeat;
        // animation-duration: 1.5s;
        // animation-timing-function: ease;
        // animation-iteration-count: infinite;
        &:hover {
            animation-play-state: paused;
        }
    }
}