.benefits {
    min-height: 470px;
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
    &__header {
        text-align: center;
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        line-height: 27px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__content {
        max-width: 235px;
        text-align: center;
    }
    &__subheader {
        margin-top: 38px;
        line-height: 17px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__descr {
        margin-top: 26px;
        line-height: 16px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        span {
            color: #ff0000;
            text-decoration: underline;
        }
    }
}